{% extends 'home.html' %}

	{% block content_main %}


<main>
    <div class="container-fluid">
        <h1 class="mt-4">vendor</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">vendor view</li>

        </ol>

        <div class="row justify-content-between">
            <div class="col-4">
                Total data found:{{ totaldata }}
            </div>
            <div class="col-4">
                showing data :{{ showingdata }}
            </div>
        </div>



        <table class="table table-striped table-sm" style="font-size:0.8em" >
            <tr>

                <th>id</th>
                <th>slno</th>
                <th>last_login</th>
                <th>username</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>email</th>
                <th>is_active</th>
                <th>date_joined</th>
								<th>User created</th>


            </tr>

            {% for item in query_results %}
            <tr>

                <td><a class="page-link" href="{% url 'vender_details' item.vd_user.id %}">
                        Details
                    </a></td>
                <td>{{forloop.counter|add:pagedata_starting}}</td>

                <td>{{ item.vd_user.last_login }}</td>
                <td>{{ item.vd_user.username }}</td>
                <td>{{ item.vd_user.first_name }}</td>
                <td>{{ item.vd_user.last_name }}</td>
                <td>{{ item.vd_user.email }}</td>
                <td>{{ item.vd_user.is_active }}</td>
                <td>{{ item.vd_user.date_joined }}</td>

								<td><a class="  page-link btn btn-sm btn-block" href="{% url 'users_of_vender' item.vd_user.id %}">
                        {{ item.vd_aao_user }}
                    </a></td>



            </tr>
            {% endfor %}
        </table>
        <nav aria-label="...">
            <ul class="pagination pagination-sm justify-content-center">

                <li class="page-item"><a class="page-link" href="{% url 'view_vender_pagination' prev_pagenumber %}">
                        pre
                    </a></li>

                <li class="page-item active"><a class="page-link" href="#">{{ curent_page }}</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'view_vender_pagination' next_page_number %}">
                        next </a></li>
            </ul>
        </nav>
    </div>
</main>






{% endblock %}
